<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blmdz.cloud.provide.dao.UserDao">
	<resultMap id="BaseResultMap" type="cn.blmdz.cloud.provide.entity.User">
		<id column="id" property="id" />
		<result column="work_number" property="workNumber" />
		<result column="work_name" property="workName" />
		<result column="department_code" property="departmentCode" />
		<result column="department_name" property="departmentName" />
		<result column="company_code" property="companyCode" />
		<result column="company_name" property="companyName" />
	</resultMap>

	<sql id="cloums_all">
		`id`, <include refid="cloums" />
	</sql>

	<sql id="cloums">
	`work_number`, `work_name`, `department_code`, `department_name`, `company_code`, `company_name`
	</sql>

	<sql id="vals_all">
		#{id}, <include refid="vals" />
	</sql>

	<sql id="vals">
	#{workNumber}, #{workName}, #{departmentCode}, #{departmentName}, #{companyCode}, #{companyName}
	</sql>

	<sql id="tb">
		`tb_user`
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="User">
		insert into
		<include refid="tb" />
		(<include refid="cloums" />)
		values
		(<include refid="vals" />)
	</insert>

	<delete id="delete" parameterType="int">
		delete from
		<include refid="tb" />
		where `id` = #{id}
	</delete>

	<update id="update" parameterType="User">
		update
	    <include refid="tb"/>
		<set>
		  <if test="workNumber != null">`work_number` = #{workNumber},</if>
          <if test="workName != null">`work_name` = #{workName},</if>
          <if test="departmentCode != null">`department_code` = #{departmentCode},</if>
          <if test="departmentName != null">`department_name` = #{departmentName},</if>
          <if test="companyCode != null">`company_code` = #{companyCode},</if>
          <if test="companyName != null">`company_name` = #{companyName},</if>
		</set>
		where `id` = #{id}
	</update>

	<select id="findById" parameterType="int" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
		where `id` = #{id}
	</select>

	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
		where `status` = 1
		order by `status`, `create_time` desc
	</select>

</mapper>
